.image-frame{
    height: 500px;
    width:630px;
    border: 2px solid rgb(102, 98, 98);
    background-color: rgb(67, 68, 68);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container{
    padding: 5px;
    text-align: center;
}

.day{
    background-image: url(../images/daySky.gif);
    background-size: cover;
    overflow: hidden;
    height: 715px;
}

.night{
    background-image: url(../images/nightSky.gif);
    background-size: cover;
    overflow: hidden;
    height: 715px;
}