.image-frame{
    height: 500px;
    width:630px;
    border: 2px solid rgb(102, 98, 98);
    background-color: rgb(165, 224, 224);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container{
    padding: 5px;
    text-align: center;
}